body{
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
    color: rgba(107, 107, 221, 0.445);
}

.one{
   text-align: center;
   color: rgb(228, 90, 65);
}
.n-m{
    color: orange;
}
